#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_JohnnieWalkerCoind += debian/examples/*
DEB_INSTALL_MANPAGES_JohnnieWalkerCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix JohnnieWalkerCoind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f JohnnieWalkerCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake JohnnieWalkerCoin-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/JohnnieWalkerCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/JohnnieWalkerCoind
binary-post-install/JohnnieWalkerCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/JohnnieWalkerCoin-qt
